<% content_for :third_level_layout do %>  
	<!-- Main component for a primary marketing message or call to action -->
	<br/>
	<br/>
	<br/>
	<div class="container">
		<div class="jumbotron">
		  <h1>Announcify</h1>
		  <p>In-app announcements and notifications as a service</p>
		  <p>
		    <a class="btn btn-lg btn-primary" href="/users/sign_up">Sign up &raquo;</a>
		  </p>
		</div>
	</div>
<% end %>
<%= render :template => 'layouts/marketing' %>