<% provide(:title, 'Edit Announcement') %>
<% provide(:active_page, 'announcement') %>
<% content_for :third_level_layout do %>  

	<div class="container">
		<%= render partial: "announcement_form"%>						
	</div>

<% end %>
<%= render :template => 'layouts/product' %>