<!-- Devise Flash Messages -->
<% unless alert.nil? %>
	<div class="alert alert-danger">
		<span class="glyphicon glyphicon-ban-circle"></span>
		<%= alert %>
	</div>
<% end %>
<% unless notice.nil? %>
	<div class="alert alert-warning">
		<span class="glyphicon glyphicon-warning-sign"></span>
		<%= notice %>
	</div>
<% end %>